{% extends "base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>MiCHiLU.co{% block title_after %} - powered by Django blog{% endblock %}</title>

    {% block css %}
	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/ico" />
    <!-- Styles -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/home.css" type="text/css" media="all" />
	<!--[if lte IE 7]>
		<style type="text/css" media="all">@import url("{{ MEDIA_URL }}styles/ie.css");</style>
	<![endif]-->
	<!-- Scripts -->
    {% endblock %}

    {% block meta %}
    <!-- Geo Info -->
    <meta name="geo.position" content="35.45;139.30" />
    <meta name="geo.region" content="JP" />
    <meta name="geo.placename" content="Tokyo" />
    <meta name="geo.country" content="JP" />
    <meta name="ICBM" content="35.45;139.30" />
    <link rel="alternate" type="application/atom+xml" title="MiCHiLU.com" href="http://feeds.feedburner.com/michilu" />
    <link rel="alternate" type="application/atom+xml" title="MiCHiLU.com" href="http://feeds.feedburner.com/michilu/short" />
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://MiCHiLU.myopenid.com/" />
    <META name="verify-v1" content="RB57my3VdwYrbv88CyW1Pr/FJzKNt375DPSMMiRKM9U=" />
    {% endblock %}
</head>

{% block body %}
<body id="home" class="generic">
{% endblock %}

{% block content %}
<div id="container">
	<div id="header">
		<h1><a href="/">MiCHiLU</a>.COM</h1>

		<ul id="nav-global">
			<li id="powered-by-Django">powered by <a href="http://www.djangoproject.com/">Django</a>.</li>
			{% include "navi-line.html" %}
		</ul>
	</div><!-- END #header -->

	<div id="content">

		<div id="content-primary">
			<div id="posts">
				<h2>Posts</h2>
				<p class="more"><a href="/blog/posts/">More posts</a> / <a href="http://feeds.feedburner.com/michilu">Feed</a></p>




						<div class="post lead-post">
							{% for object in object_list %}
							{% if forloop.first %}
							<h3 class="title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>

							<div class="intro">
                            {{ object.content_s|escape }}
                            ...
</div> <p class="refer"><a href="{{ object.get_absolute_url }}"><strong>Read</strong></a></p>
						</div>
						<ul class="recent-posts">
						{% endif %}
    				    	{% if not forloop.first %}




						<li class="post">

							<a class="url" href="{{ object.get_absolute_url }}">

								<strong class="title">{{ object.title }}</strong>
							</a>
							<p class="summary">{{ object.content_s|escape }}...<span class="refer"><a href="{{ object.get_absolute_url }}"><strong>Read</strong></a></span></p>
						</li>

					    {% endif %}
							{% if forloop.last %}

						</ul><!-- END .recent-posts -->
					    {% endif %}
					    {% endfor %}


			</div><!-- END #posts -->
		</div><!-- END #content-primary -->

		<div id="content-secondary">
			<div id="django-doc-ja">
				<h2>
					⋙
				<a href="/django/doc-ja-0.96/index/">
					Django オンラインドキュメント和訳 0.96
				</a>
					 : Latest release
				<br />
				Download...
				<a href="{{ MEDIA_URL }}doc-ja/tarball/django-doc-ja-0.96.zip">zip</a>
				<a href="{{ MEDIA_URL }}doc-ja/tarball/django-doc-ja-0.96.tar.gz">tgz</a>
				<a href="{{ MEDIA_URL }}doc-ja/tarball/django-doc-ja-0.96.tar.bz2">bzip2</a>
				</h2>

				<h2>
					⋙
				<a href="/django/doc-ja/index/">
					Django オンラインドキュメント和訳
				</a>
					 : Revision {% load doc_extras %}{% completed_revision %}
				<br />
				Download...
				<a href="http://djangoproject.jp/trac/changeset//root/doc-jp/trunk?old_path=%2F&amp;format=zip">zip</a>
				</h2>

				<h2>
					⋙
				<a href="/demo/helpdoc/index/">
					HelpDoc Demo
				</a>
					: Documentation plugin for Django apps.
				</h2>

				<h2>
					⋙
				<a href="http://code.google.com/p/michilu/">
					Source Code
				</a>
					 : {% load blog_extras %}{% svnlog_message %}
				</h2>
			</div>

			<div id="technorati-links">
				<h2>Back Links</h2>
				<p class="more"><a href="http://www.technorati.com/search/http://michilu.com">More links</a> / <a href="http://feeds.technorati.com/search/http%3A%2F%2Fmichilu.com">Feed</a></p>
				{% load blog_extras %}{% technorati_links %}
			</div>

			<div id="links">
				<h2>Links</h2>
				<p class="more"><a href="http://del.icio.us/MiCHiLU">More links</a> / <a href="http://del.icio.us/rss/MiCHiLU">Feed</a></p>
				{% load blog_extras %}{% bookmark_list %}
			</div>

	 		<div id="about">
				<h2>About the author</h2>

				<p class="vcard">I'm <a class="url fn" href="http://michilu.com/">takanao ENDOH</a> and this is my site. Send love letters to {% include "email.html" %}.</p>
    		</div>
		</div><!-- END #content-extra -->

	</div><!-- END #content -->

	<div id="footer">
		<p>
		    <a href="/">MiCHiLU.com</a> powered by <a href="http://www.djangoproject.com/">Django</a> ;-)
    		Join **<a href="http://djangoproject.jp/">Django-ja</a>** ,
    		at <a href="http://groups.google.com/group/django-ja">Google Groups</a>,
    		at <a href="http://www.lingr.com/room/django-ja">Lingr</a>.
		</p>
	</div><!-- END #footer -->
</div><!-- END #container -->
{% endblock %}

</body>
</html>
