/* based from wilsonminer.com */

@import url(base.css);

/* COLUMN SETUP */
#home #content { background:url('/static/images/homepage-bg.png') repeat-y; }
#home #content #content-primary { float:left; clear:left; width:519px; }
#home #content #content-secondary { float:right; width:480px; background:#FF6A00; color:#FFD399; }

/* SIDEBAR */
#home #content-secondary a:link,
#home #content-secondary a:visited { color:white; }
#home #content-secondary a:hover { color:#FFD399; }
#home #content-secondary h2,
#home #content-secondary .more { color:#FFD399; }

/* MODULES */
#home #posts, 
#home #work,
#home #django-doc-ja,
#home #technorati-links, 
#home #links, 
#home #about { font-size:1em; padding:0.1em 24px 2px 24px; }
#home .more { position:relative; float:right; font-size:11px; margin-top:-3em; color:#9B9C8D; }

/* POSTS */
#home #posts { background:white; }
#home #posts .refer { white-space:nowrap; font-size:11px; font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif; color:#0085BD; }
/* #home #posts .lead-post .intro { font:1.2em/1.4 Georgia,Palatino,Times,serif; } */
#home #posts .lead-post .intro { font-size:1.2em; line-height:1.4; }
#home #posts .recent-posts { display:block; overflow:hidden; width:100%; margin-top:1.6em; background:url('/static/images/recentposts-bg.gif') repeat-y; }
#home #posts .recent-posts .post { display:block; list-style-type:none; width:157px; float:left; }
#home #posts .recent-posts .post img { padding-left:1px; margin-bottom:12px; }
#home #posts .recent-posts .post .title,
#home #posts .recent-posts .post .summary { display:block; padding-left:12px; padding-right:12px; }
#home #posts .recent-posts .post .title { font-size:1em; margin-bottom:0.2em; }
#home #posts .recent-posts .post .summary { font-size:11px; }
#home #posts .recent-posts .post .refer { display:block; margin-top:0.4em; margin-bottom:3em; }

/* WORK */
#home #work { background:#FFD399; }
#home #work h2,
#home #work .more { color:#F08300; }
#home #work .project { position:relative; margin-bottom:10px; }
#home #work .project h3 { display:block; float:left; position:absolute; left:0; top:0; z-index:1; margin:0; font-size:10px; color:white; background:#F08300; text-transform:uppercase; padding:1px 2px; }
#home #work .project img { padding-bottom:10px; }
#home #work .project .description { font-size:11px; }

/* django-doc-ja */
#home #django-doc-ja { background:#F08300; }
#home #django-doc-ja a:link,
#home #django-doc-ja a:visited { color:white; }
#home #django-doc-ja a:hover { color:#FFD399; }

/* technorati-links */
#home #technorati-links { background:#F08300; }
#home #technorati-links ul li { list-style-type:none; margin:1em 0; }
#home #technorati-links ul li a { font-weight:bold; }
#home #technorati-links ul li .extended { font-size:11px; }

/* LINKS */
#home #links { background:#F08300; }
#home #links ul li { list-style-type:none; margin:1em 0; }
#home #links ul li a { font-weight:bold; }
#home #links ul li .extended { font-size:11px; }

/* ABOUT */
#home #about p { font-size:11px; }
