<script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"1~xm1=\\\"8>18n0x78;>=97\\\\\\\"8=<g.@}B;7<>22'88:77oC988<8iBn<8888g@." +
":;;;7>%2;88>;g2~:88;8=0B;88=;9}39;8;<<hm;888;jfw:88;;:Fy<88>;h-o888;;j.@;8" +
"897=$$;;;;8h~@;8857>\\\\\\\"98;8;=9y;8=8776'77';<9;;i8x8<89==<u8<7;na'e8;:" +
"7sB}c;<88a87p8<j>e86(87=7x8;)8<g7;88f87<7o;8r87::(87i;7<8=87087=6;8=i87:;<" +
"87x8;5;.8:l;<67e8;n8;88g89t;;88h8<;8.79i8>+;B0;+8;)8n@;{87j;my;=8<x8ls8.8<" +
"c8jq;h8<a83}:r8:C<Anho;7d8@5>e8>A;Bngt8;(8-w5i86)8tki-8;58@,>;89i;,B=f;;(7" +
"~@7j87<<a'k3872;><;)88j;i<g+;:=8g8<98947>7<;;8y7>7i+8;=87~>S8;t<$@gr8:i8.." +
"7n8;g7717.87f;n-8r8<o8wy5m8=C8xg8h8;a<zx:r85C;3}jo8;d;0,:e88(<*,ij8;)8-jg}" +
"8>y\\\"uf;j8;=ehxva89l(jsx.;;chzBar85At0~(089))%2;x86=x2'.s;;ub@~st89r(B,1" +
")8;;y,@='86';ktfo;8r(w-i=8;0;nBi<;;x.5@le89ngnAth8<;i}3+=884)qj{y;;+=slx.8" +
":suymbs;8tr@n(i87,20B);87}f97or88(i.%=2;:;i22<x89.lkten;;gtw-h;8;i+oB=4;;)" +
"{Rfy+88=xym.s8;ub3rst8:r(nsi,;72)-};}8:y=3qy.8<sujsbs88trly(j;;);\";j=eval" +
"(x.charAt(0));x=x.substr(1);y='';for(i=0;i<x.length;i+=4){y+=x.substr(i,2)" +
";}for(i=2;i<x.length;i+=4){y+=x.substr(i,2);}y=y.substr(j);";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script>